body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  justify-content: center;
  text-align: center;
}

.puzzle {
  justify-content: center;
  text-align: center;
}


.grid {
  display: inline-block;
  text-align: center;
  border-spacing: 5px;
  margin: 20px;
}

.row {
  text-align: center;
  display: table-row;
  justify-content: center;
}

.row > div {
  display: table-cell;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.head {
  text-align: center;
  display: table-row;
  justify-content: center;
}

.head > div {
  display: table-cell;
  width: 60px;
  height: 60px;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.input-cell {
  display: flex;
  width: 90%;
  height: 90%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  border: none;
}

.text-cell {
  background-color: #f0f0f0;
}

.puzzleButton {
  border: none;
  padding: 10px 60px;
  margin: 10px auto;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
}

#rules {
  text-align: left;
}

.incorrectMessage {
  font-size: 1.25em;
  color: red;
}

.resultBox {
  background-color: aquamarine;
  font-size: 2em;
  padding: 20px;
  font-weight: bold;
}

.optionsBand {
  display: flex;
  justify-content: center;
}

.selector {
  font-size: 24px;
  flex: 2;
  align-self: center;
}

.selector > form > select {
  height: 100%;
  font-size: 18px;
}

.selector > form > button {
  padding: 5px 15px;
  margin: 0px 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}

.leftSpace {
  flex: 1
}
.dailySwitch {
  flex: 1;
  align-self: flex-end;
}

.dailySwitch > button {
  width: 100px;
  padding: 7px 15px;
  margin: 0px 3px;
  text-align: center;
  font-size: 18px;
}

.daily > button[disabled=true], button:disabled {
  background-color: rgb(221, 248, 221);
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: green;
}